body{
	background-color:#E0C3F2;
	font-family: 'Grand Hotel', cursive;
}

@font-face {
    font-family: "item_menu";
    src: url('../font/item-menu/item_menu.ttf');
}

.iconsMenu{
	font-family: 'item_menu';
	font-weight: bold
}

.legend{
}

.utils{
	background-color: #ad1457;
	padding:1%
}

.utils-nav{
	background-color: #ad1457;
}

.center-block{
	width:10%;
	margin:0 auto;
}

.cache{
	position:absolute;
	z-index:7;
	top:0%;
	left:0%;
	width:100%;
	background-color: rgba(0, 0, 0, 0.6);
	visibility:hidden;
}

/*
/		+---------------------------+
/		|			HEADER			|
/		+---------------------------+
*/

.headerNav{
	width:100%;
	color:white;
}
.textHeader{
	width:100%;
	background-color:#E91E63;
	text-align: center;
	font-size:8em;
	-moz-text-shadow: 2px 2px 8px #656565;
	-webkit-text-shadow: 2px 2px 8px #656565;
	-o-text-shadow: 2px 2px 8px #656565;
	text-shadow: 2px 2px 8px #656565;
}
.menuLeft{
	cursor:pointer;
}
.menuLeftOpen{
	width:40px;
	height:40px;
	border-radius:20px;
	background-color:#ad1457;
	padding-top: 6px;
}
.decoHeader{
	height:70px;
	background: url('../images/motif-cachemire.png');
}

/*
/		+---------------------------+
/		|			MENU			|
/		+---------------------------+
*/

.alphaMenu{
	font-size:50px;
	margin-right:10px;
}

/*
/		+---------------------------+
/		|			CONTENT			|
/		+---------------------------+
*/

.contentText{
	/*position: absolute;*/
	margin-left:15%;
	width:75%;
}

/*
/		+---------------------------+
/		|			footer			|
/		+---------------------------+
*/

.footer{
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	width:100%;
}
.pied{
	padding:2%;
	text-align: justify;
    -webkit-text-align-last: center;
	-moz-text-align-last: center;
	-ms-text-align-last: center;
	-o-text-align-last: center;
}

/*
/		+---------------------------+
/		|			Add				|
/		+---------------------------+
*/

.buttonAdd{
	cursor:pointer;
	border:5px dashed #ad1457;
	min-height:120px;
	text-align:center;
}

.buttonAddRubrique{
	cursor:pointer;
	border:5px dashed #ad1457;
}

.add{
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.formAdd{
	position:absolute;
	top:150px;
	left:10%;
	width:80%;
	padding:2%;
}


/*
/		+---------------------------+
/		|		Toggle Styles		|
/		+---------------------------+
*/

#menu-toggle{
	position:absolute;
	margin: 1% 0% 0% 1%;
	color:white;
	font-size:20px;
	cursor:pointer;
}
#wrapper {
	position:absolute;
	width:100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
	overflow-x: hidden;
    position: fixed;
    top:0px;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #F8BBD0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/*
/		+---------------------------+
/		|		Sidebar Styles		|
/		+---------------------------+
*/
.sidebar-nav {
    position: absolute;
    top: 0px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:2.5em;
}

.sidebar-nav li, .btnMenu, .index {
	cursor:pointer;
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a, .btnMenu, .index  {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover, .btnMenu:hover, .index:hover  {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 10px 0px #656565;
	-webkit-box-shadow: 5px 0px 10px 0px #656565;
	-o-box-shadow: 5px 0px 10px 0px #656565;
	box-shadow: 5px 0px 10px 0px #656565;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}